[project]
	description = it is pitch black
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alex Wilson (arekinath)
[access "refs/for/refs/*"]
	read = group user/Alex Wilson (arekinath)
	push = group user/Alex Wilson (arekinath)
	label-Code-Review = -2..+2 group user/Alex Wilson (arekinath)
	label-Verified = -1..+1 group user/Alex Wilson (arekinath)
	rebase = group user/Alex Wilson (arekinath)
	removeReviewer = group user/Alex Wilson (arekinath)
	submit = group user/Alex Wilson (arekinath)
[access "refs/heads/*"]
	read = group user/Alex Wilson (arekinath)
	create = group user/Alex Wilson (arekinath)
	push = +force group user/Alex Wilson (arekinath)
	pushMerge = group user/Alex Wilson (arekinath)
[access "refs/tags/*"]
	push = +force group user/Alex Wilson (arekinath)
	pushTag = group user/Alex Wilson (arekinath)
	pushSignedTag = group user/Alex Wilson (arekinath)
